<header>
    <div class = "container">
      <a routerLink="/" class = "logo">{{appTitle}}</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
          <li><a routerLink="/frezer">Frezer's Link</a></li>
          <li><a href="https://usmdckdap6832.us.kworld.kpmg.com:8444/ReportServer/logon.aspx?ReturnUrl=/ReportServer/localredirect?url=%252fReports%252fbrowse%252f ">Link</a></li>
          <li><a href="https://usmdckdap6832.us.kworld.kpmg.com:8444/Reports/powerbi/CostProjector/CostProjectorAnalysis?rs:Embed=true">EmbedTest</a></li>
        </ul>
      </nav>
    </div>
</header>
